body {
    background-color: lightblue;
}

header {
    background-color: aliceblue;
}

footer {
    background-color: black;
}

h1 {
    text-align: center;
}

p {
    color: aliceblue;
    font-style: italic;
}

img {
    border: 2px solid orange;
    width: 250px;
}

#attributes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */